.home-container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.right-container{
    width: 420px;
    height: 550px;
    padding-top: 10px;
    border: 1px solid #5B656F;
    box-sizing: border-box;
    border-radius: 4px;
}

.options-container{
    text-align: center;
}